@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Barlow Semi Condensed', arial;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
      margin: 0 auto;
      background-color: hsl(214, 17%, 92%);
}

h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;
}

p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  gap: 25px;
  width: 100%;       
  max-width: 1300px; 
  margin: 0 auto;
}

.section1 {
  grid-area: 1 / 1 / 2 / 3;
  background-color: hsl(263, 55%, 52%);
   color: hsl(214, 17%, 92%);
} 
.section2 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: hsl(217, 19%, 35%);
  color: hsl(214, 17%, 92%);
}
.section3 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: hsl(0, 0%, 100%);
}
.section4 {
  grid-area: 2 / 2 / 3 / 4;
  background-color: hsl(219, 29%, 14%);
  color: hsl(214, 17%, 92%);
}
.section5 {
   grid-row: span 2;   
    align-self: start; 
    background-color: hsl(0, 0%, 100%);
     align-self: stretch; 
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.15);
}

span {
  font-weight: 500;
}

.profile-picture {
  width: 33px;  
  height: 33px; 
  border-radius: 50%;
}

.section1 .profile-picture {
  border: 2px hsl(264, 82%, 80%) solid;
}

.section4 .profile-picture {
  border: 2px hsl(263, 55%, 52%) solid;
}

.author { 
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: row;
}

.author-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
}

  .attribution { font-size: 11px; text-align: center; position: absolute; bottom: 0; margin: 0;}
    .attribution a { color: hsl(228, 45%, 44%); }

/*---Querys---*/
/*Mobile / small phones:*/
@media (max-width: 600px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: repeat(1, 1fr);
  }
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    grid-area: auto;
  }
  .articles {    
  max-width: 350px; 
  width: 100%;
}
body {
  margin: 50px 0;
  display: block;
}
.attribution {
  position: static;
  margin-top: 50px;
  text-align: center;
}
}

/*Tablets / medium screens:*/
@media (max-width: 1024px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: repeat(1, 1fr);
  }
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    grid-area: auto;
  }
  .articles {    
  max-width: 600px; 
  width: 100%;
}
body {
  margin: 50px 0;
  display: block;
}
.attribution {
  position: static;
  margin-top: 50px;
  text-align: center;
}
}